Tests: core-simple
Restrictions: allow-stderr isolation-container needs-root
Depends: nginx-core, curl

Tests: ssi-module-test
Restrictions: allow-stderr, isolation-container, needs-root,
Depends: nginx, nginx-core, curl
